In [3]:
import pandas as pd  
from tqdm import tqdm  
from collections import defaultdict  
import math  
import warnings
warnings.filterwarnings("ignore")
%config ZMQInteractiveShell.ast_node_interactivity='all'
%pprint

Pretty printing has been turned ON

In [18]:
train_path = '../data/underexpose_train'  
test_path = '../data/underexpose_test'

In [37]:
item_feat_train = pd.read_csv(train_path + '/underexpose_item_feat.csv', header=None)

In [38]:
item_feat_train.head()
item_feat_train.shape[0]
item_feat_train.columns

,0,1,2,3,4,5,6,7,8,9,...,247,248,249,250,251,252,253,254,255,256
0,42844,[4.514945030212402,-2.383720,0.500414,0.407068,-1.995229,0.109078,-0.691775,2.227460,-6.437974,...,-3.374727,-1.506969,-1.820180,-3.024644,0.445263,0.013933,-1.300239,2.759948,2.056171,0.5087034702301025]
1,67898,[-2.0029051303863525,-0.929881,0.790017,-1.380895,-0.510463,-1.810096,1.363962,0.497401,-4.038903,...,-0.538330,-2.620164,1.277195,0.601015,-0.345312,0.993457,1.351633,2.162675,2.768597,-0.9371970295906067]
2,66446,[4.221673011779785,-1.497139,1.133570,-2.745607,-4.197045,-0.542392,-1.396256,1.838419,-6.066454,...,-4.582711,-1.056910,-2.568084,-2.038061,2.508719,-0.764789,-0.657116,3.252782,2.687366,0.8443320989608765]
3,63651,[2.6579699516296387,-0.941863,1.121529,-5.109496,-0.279041,-0.351968,-1.086983,2.703607,-6.494977,...,-0.487683,-1.889119,0.943015,-2.834418,1.633184,2.001801,-2.333152,2.645595,2.280233,-0.6944484114646912]
4,46824,[3.192194938659668,-1.936676,1.199909,-2.562152,-2.573456,0.575841,-2.358653,1.620844,-4.302936,...,-0.621475,-2.091410,0.501600,-3.083864,-1.060091,2.053600,-2.025008,2.399251,2.562317,0.6941336393356323]

108916

Int64Index([  0,   1,   2,   3,   4,   5,   6,   7,   8,   9,
            ...
            247, 248, 249, 250, 251, 252, 253, 254, 255, 256],
           dtype='int64', length=257)

In [39]:
item_feat_train.shape

(108916, 257)

In [66]:
z=item_feat_train.loc[:,129:257]

In [67]:
type(z)

pandas.core.frame.DataFrame

In [68]:
z.columns

Int64Index([129, 130, 131, 132, 133, 134, 135, 136, 137, 138,
            ...
            247, 248, 249, 250, 251, 252, 253, 254, 255, 256],
           dtype='int64', length=128)

In [69]:
z.head()

,129,130,131,132,133,134,135,136,137,138,...,247,248,249,250,251,252,253,254,255,256
0,[-2.8722801208496094,1.458755,2.579013,-1.609747,1.437822,1.387496,0.724999,0.020332,0.312099,-1.999773,...,-3.374727,-1.506969,-1.820180,-3.024644,0.445263,0.013933,-1.300239,2.759948,2.056171,0.5087034702301025]
1,[-0.07052088528871536,-1.439334,0.772873,-2.348995,-0.235512,-0.870002,-0.542587,1.583197,1.742779,-2.993976,...,-0.538330,-2.620164,1.277195,0.601015,-0.345312,0.993457,1.351633,2.162675,2.768597,-0.9371970295906067]
2,[-5.18036413192749,-0.388247,-0.036235,-1.851022,1.223854,1.996782,0.794044,-0.290748,0.393296,-1.103014,...,-4.582711,-1.056910,-2.568084,-2.038061,2.508719,-0.764789,-0.657116,3.252782,2.687366,0.8443320989608765]
3,[-1.077273964881897,2.839453,1.183431,-1.098712,0.900597,1.422248,0.109828,-3.770131,0.138226,-3.430403,...,-0.487683,-1.889119,0.943015,-2.834418,1.633184,2.001801,-2.333152,2.645595,2.280233,-0.6944484114646912]
4,[-3.2601945400238037,0.498890,2.583143,-2.551381,1.466517,-0.195634,1.273064,0.444346,1.911644,-1.864195,...,-0.621475,-2.091410,0.501600,-3.083864,-1.060091,2.053600,-2.025008,2.399251,2.562317,0.6941336393356323]

In [70]:
z[129]=z[129].apply(lambda x: x[1:])

In [71]:
z[256]=z[256].apply(lambda x: x[:-1])

In [72]:
z.head()

,129,130,131,132,133,134,135,136,137,138,...,247,248,249,250,251,252,253,254,255,256
0,-2.8722801208496094,1.458755,2.579013,-1.609747,1.437822,1.387496,0.724999,0.020332,0.312099,-1.999773,...,-3.374727,-1.506969,-1.820180,-3.024644,0.445263,0.013933,-1.300239,2.759948,2.056171,0.5087034702301025
1,-0.07052088528871536,-1.439334,0.772873,-2.348995,-0.235512,-0.870002,-0.542587,1.583197,1.742779,-2.993976,...,-0.538330,-2.620164,1.277195,0.601015,-0.345312,0.993457,1.351633,2.162675,2.768597,-0.9371970295906067
2,-5.18036413192749,-0.388247,-0.036235,-1.851022,1.223854,1.996782,0.794044,-0.290748,0.393296,-1.103014,...,-4.582711,-1.056910,-2.568084,-2.038061,2.508719,-0.764789,-0.657116,3.252782,2.687366,0.8443320989608765
3,-1.077273964881897,2.839453,1.183431,-1.098712,0.900597,1.422248,0.109828,-3.770131,0.138226,-3.430403,...,-0.487683,-1.889119,0.943015,-2.834418,1.633184,2.001801,-2.333152,2.645595,2.280233,-0.6944484114646912
4,-3.2601945400238037,0.498890,2.583143,-2.551381,1.466517,-0.195634,1.273064,0.444346,1.911644,-1.864195,...,-0.621475,-2.091410,0.501600,-3.083864,-1.060091,2.053600,-2.025008,2.399251,2.562317,0.6941336393356323

In [65]:
import matplotlib.pyplot as pyplot

' -0.937197029590606'

In [73]:
oneimg=z.loc[1:,:]

In [75]:
np=z.values

In [76]:
np

array([['-2.8722801208496094', 1.4587551355361938, 2.579012632369995,
        ..., 2.759948492050171, 2.056171178817749, ' 0.5087034702301025'],
       ['-0.07052088528871536', -1.4393335580825806, 0.772872805595398,
        ..., 2.1626746654510502, 2.76859712600708,
        ' -0.9371970295906067'],
       ['-5.18036413192749', -0.38824713230133057, -0.03623542934656143,
        ..., 3.252781629562378, 2.687366485595703, ' 0.8443320989608765'],
       ...,
       ['-1.8863677978515625', 0.2406638264656067, -0.4176310896873474,
        ..., 2.821835994720459, 3.2856898307800293,
        ' 2.2152724266052246'],
       ['-2.6400721073150635', 1.0721999406814575, 1.5146057605743408,
        ..., 1.908586263656616, 1.8877874612808228,
        ' 1.0216277837753296'],
       ['-1.1794008016586304', -0.6624383926391602, 1.3874021768569946,
        ..., 3.2780487537384038, 3.225166320800781,
        ' -1.0926690101623535']], dtype=object)

In [77]:
np.size()

TypeError: 'int' object is not callable

In [74]:
arr=arr.reshape(oneimg,2,8,8)
pyplot.imshow(im_mask)

NameError: name 'arr' is not defined

In [23]:
click_test = pd.read_csv(test_path + '/underexpose_test_click-{}//underexpose_test_click-{}.csv'.format(0,0), header=None,  names=['user_id', 'item_id', 'time'])  
click_test.head()
click_test.shape[0]
click_test.info()

   user_id  item_id      time
0     1133      221  0.983812
1    17864      253  0.983783
2     6941      309  0.983785
3    34089      358  0.983781
4    21659      536  0.983793

21216

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21216 entries, 0 to 21215
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   user_id  21216 non-null  int64
 1   item_id  21216 non-null  int64
 2   time     21216 non-null  float64
dtypes: float64(1), int64(2)
memory usage: 497.4 KB

In [24]:
all_click = click_train.append(click_test)

In [26]:
all_click.head()
all_click.shape[0]

   user_id  item_id      time
0     4965       18  0.983763
1    20192       34  0.983772
2    30128       91  0.983780
3    29473      189  0.983930
4    10625      225  0.983925

263000

In [27]:
whole_click = pd.DataFrame()

In [28]:
whole_click = whole_click.append(all_click)

In [29]:
whole_click.shape[0]

263000

In [30]:
user_item_1 = whole_click.groupby('user_id')['item_id'].agg(set).reset_index()

In [32]:
user_item_1.shape[0]
user_item_1.head()

18505

   user_id                                            item_id
0        1  {89568, 97795, 78380, 87533, 69359, 76240, 314...
1        2  {7745, 8481, 28099, 4168, 109065, 115561, 7053...
2        4           {90818, 8291, 13283, 6609, 64404, 35419}
3        7                 {24258, 19110, 6731, 23436, 39291}
4        9  {30767, 63216, 88371, 109463, 78360, 114268, 1...

In [33]:
user_item_dict = dict(zip(user_item_1['user_id'], user_item_1['item_id']))

In [35]:
sim_item = {}  
item_cnt = defaultdict(int) 
use_iif=False

In [ ]:
for user, items in tqdm(user_item_dict.items()):  
    for i in items: 
        item_cnt[i] += 1 
        sim_item.setdefault(i,{})
        for relate_item in items:
            if i ==relate_item:
                continue
            sim_item[i].setdefault(relate_item,0)
            if not use_iif:
                sim_item[i][relate_item] += 1 
            else:
                sim_item[i][relate_item] += 1 / math.log(1 + len(items))

In [ ]:
 pd.read_csv(test_path + '/underexpose_test_click-{}//underexpose_test_click-{}.csv'.format(0,0), header=None,  names=['user_id', 'item_id', 'time'])

In [8]:
now_phase = 1

In [ ]:
for c in range(now_phase + 1):
    print('phase:', c)  
    click_train = pd.read_csv(train_path + '/underexpose_train_click-{}.csv'.format(c), header=None,  names=['user_id', 'item_id', 'time'])  
    click_test = pd.read_csv(test_path + '/underexpose_test_click-{}.csv'.format(c), header=None,  names=['user_id', 'item_id', 'time'])